.aside-col {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 3;
    width: 100px;
    height: 100%;
    background-color: #373B53;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .log-aside {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #7C5DFA;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    align-content: center;
  } 
  
  .log-color-down {
    width: 100%;
    height: 50%;
    background-color: #9277FF;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .log-img {
    position: absolute;
    align-self: center;
    width: 40px;
    height: 37px;
  }
  
  .down-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .dark-light-mode {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 25px;
    cursor: pointer;
  }
  
  .moon {
    width: 20px;
    text-align: center;
    /* display: none; */
  }

  .sun {
    width: 20px;
    text-align: center;
    display: none;
  }
  
  .avatar-photo {
    padding: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    border-top: 1px solid #979797;
  }
  
  .profil-img {
    border-radius: 50%;
    width: 40px;
  }

  @media only screen and (max-width: 940px) {

    .aside-col {
      width: 100%;
      height: 92px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      flex-direction: row;
    }
    .log-aside {
      width: 100px;
      height: 92px;
    }
    .down-part {
      flex-direction: row;
    }
    .avatar-photo {
      border-top:none;
      border-left: 1px solid #979797;
    }
  }

  
  