.edit {
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--modalcolor);
    /* display: none; */
  }
  
  .buttons-down-2 {
    background-color: var(--whitetext);
    width: 50%;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 32px;
    padding-left: 155px;
    padding-right: 55px;
    position: fixed;
    left: 0; 
    bottom: 0;
  }

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .filter-2 {
    width: 240px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    background: var(--containercolor);
    box-shadow: 0px 10px 20px rgba(72, 84, 159, 0.25);
    border-radius: 8px;
    align-items: flex-start;
    position: absolute;
  }

  .container-1 {
    width: 90%;
    padding-left: 5px;
    cursor: pointer;
    font-size: 12px;
    border-bottom: 1px solid var(--containerborder);
    padding-left: 20px;
    background-color: var(--containercolor);
  }
  .container-1 p:hover {
    color: var(--violetcolorbtn);
  }

  .number-of-invoice {
    display: flex;
    color: var(--headlinetext);
  }

  input {
    width: 100%;
    outline: none;
    border: none;
    font-family: "Spartan";
    font-weight: 700;
    color: var(--inputcolor);
    background-color: var(--inputcolor);
    color: var(--headlinetext);
  }
  input::placeholder {
    color: var(--headlinetext);
    background-color: var(--inputcolor);
  }

  .pay-terms {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }
  
  .calendar {
    padding-right: 10px;
  }
  