header {
    width: 780px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-left: 100px;
  }
  
  .headline-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .invoices {
    color: var(--headlinetext);
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: -1px;
    margin: 0px;
  }
  
  p {
    font-size: 12px;
    font-weight: 500;
    color: var(--paragraphtext);
  }
  
  
  .headline-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  
  .no-color-btn {
    background-color: var(--colorbody);
    width: 150px;
    height: 48px;
    border-radius: 20px;
    border: none;
    color: var(--headlinetext);
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
    display: flex;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    text-align: center;
  }
  
  .violet-btn {
    background-color: var(--violetcolorbtn);
    width: 150px;
    height: 48px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    padding-right: 15px;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  .violet-btn:hover {
      background-color: #9277FF;
  }
  
  .btn-plus {
    border: 1px solid var(--plusheader);
    padding: 10px;
    border-radius: 50%;
    background-color: var(--plusheader);
  }

  .filter {
    width: 150px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    background-color: var(--fillter);
    box-shadow: var(--shadowvar);
    border-radius: 8px;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
    position: absolute;
    /* display: none;  */
    z-index: 2;
  }

  .up {
    transform: rotate(180deg);
  }
  .container {
    color: var(--filtercolor);
  }

  .container {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: var(--inputcheck);
  }
  .checkmark:hover {
    border: 1px solid var(--violetcolorbtn);
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #7c5dfa;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .inv-new {
    color: #ffffff
  }
  .inv-filter {
    color: var(--headlinetext);
  }

  @media only screen and (max-width: 940px) {

    header{
      margin-top: 80px;
      margin-left: auto;
      padding-left:0;
      max-width: 780px;
      width: 80%;
    }
    .no-color-btn {
      
      justify-content: center;
      gap: 2px;
    }
  }
  
  @media only screen and (max-width: 540px){
    .violet-btn{
      width: 100px;
    }
    .inv-filter {
      display: none;
    }
    .no-color-btn {
      width: 20px;
    }
    .invoices {
      font-size: 26px;
    }
    header {
      justify-content: space-between;
      margin-left: 35px;
    }
    .headline-right{
      justify-content: end;
      grid-gap: 30px;
    }
    .headline-left > p {
      margin: 0;
    }
    .inv-new{
      display: none;
    }
  }
  @media only screen and (max-width: 400px){
    header {
      width: 80%;
    }
    .headline-right{
      grid-gap: 10px;
    }
  }

 